COMENTADO_Tarefa 4.docx
Data_Science_Projeto_Integrador.docx
Grupo5 - Apresentacao3.ipynb
Kassandr_DE.ipynb
Projeto Integrador .pptx
SAmples/
Teste_category.ipynb
Teste_projeto.ipynb
category_de.txt
category_fr.txt
category_it.txt
clicks_de.part1.rar
clicks_de.part2.rar
clicks_de.txt
clicks_de_sample_2.txt
correct.rar
correct/
datasets/
df_clicks.txt
df_offers.txt
*.png
*.docx
*.pptx
*.rar